body, .navbar{
    background: rgba(255, 255, 255, 0.7) !important;
  
}
nav a p{


 
    
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 900;
    font-size: 15px;
    line-height: 19px;
    
    color: #0045FF;



} 
nav a p:before{
    content:'';

   
    background: red;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}
.oval{
    /* Oval */
background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
position: absolute;
width: 52px;
height: 52px;
left: 96px;
top: calc(50% - 52px/2 - 496px);



}



nav ul li{
    margin-right:1.8rem;
}
.navbar-brand p{
    position:relative !important;
    left:2rem !important;
    font-style: italic;
}
nav ul li a:hover{
    color:#0045FF !important;
}
.login a{
    color:#0045FF !important;
}

.get_started{
    background:rgb(59, 109, 219);
    border-radius:5px;
    padding:1px;

   
}

.get_started a{
    color:white !important;
}
.get_started a:hover{
    color:white !important;
}
h1{
    color: #152C5B;
}

p{
    color:#152C5B;
}

      
    






@media screen and (max-width:991px){
    .get_started{
        background:#0045FF;
        border-radius:5px;
        padding-left:5px;
        width:100px;
    
       
    }

}

@media screen and (max-width:468px){
    h1{
        color: #152C5B;;
        font-size:1.8rem;
    }
    video{
        width:280px;
        height:400px;
    }
  

}